{% component macros.dot_lang(config, lang: string) -%}
  {% if lang == config.default_language -%}{{ "" }}{% else -%}{{ "." ~ lang }}{% endif -%}
{% endcomponent macros.dot_lang %}

{% component macros.toc(page, lang: string) -%}
{% if page.toc and page.extra.toc -%}
<div class="bg-gray-50 px-4 pb-1">
<h2>{{trans(key="toc", lang=lang)}}</h2>
<ul>
  {% for h1 in page.toc -%}
      <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children -%}
              <ul>
                  {% for h2 in h1.children -%}
                      <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
                  {% endfor -%}
              </ul>
          {% endif -%}
      </li>
  {% endfor -%}
</ul>
</div>
{% endif -%}
{% endcomponent macros.toc %}

{% component macros.homepage_section(page, lang: string) %}
<div class="flex sm:flex-row flex-col py-4">
  <div class="sm:basis-2/5 grow pb-4 sm:pb-0">
    <div class="prose">
      <h2>{{ page.title }}</h2>
    </div>
  </div>
  <div class="sm:basis-3/5 grow">
    {% if page.content -%}
    <article class="prose prose-indigo">{{ page.content | safe }}</article>
    {% endif -%}
    {% if page.extra.links -%}
    <ul>
      {% for link in page.extra.links -%}
      <li class="font-bold text-lg pb-4 text-blue-600 hover:text-blue-800 visited:text-purple-600">
        {% if link.icon -%}<i>{{<icons.factory icon={link.icon} classes="inline h-6 w-6 flex-no-shrink"/>}}</i>{% endif -%}
        <a target="_blank" href="{{ link.link }}"> {{ link.name }} </a></li>
      {% endfor -%}
    </ul>
    {% endif -%}
  </div>
</div>
{% endcomponent macros.homepage_section %}

{% component macros.section_index_summary(config, section_path: string, lang: string, show_wordcount: bool = false, show_element: integer = 2, show_description: bool = true) %}
  {% set section = get_section(path=section_path) -%}
  {% set title = section.extra.index_title | default(value=section.title) -%}
  <div class="flex sm:flex-row flex-col py-4">
    <div class="sm:basis-2/5 grow pb-4 sm:pb-0">
      <div class="prose">
      <h2> {{ title }}</h2>
        {% if section.description -%}{{ section.description }}{% endif -%}
      </div>
    </div>
    <div class="sm:basis-3/5 grow">
      <ul>
        {% for page in section.pages[:show_element] -%}
          <li class="pb-3">
            {{<blog.page_summary config={config} page={page} lang={lang} show_wordcount={show_wordcount} show_description={show_description}/>}}
          </li>
        {% endfor %}
        <li><a href="{{section.permalink | safe}}" class="text-blue-600 hover:text-blue-800">more</a></li>
      </ul>
    </div>
  </div>
{% endcomponent macros.section_index_summary %}
